{%extends "index.html"%}
{%block title%}
Weather App
{%endblock%}



{%block body%}

<section class="text-gray-700 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-12">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Search For Cities
            </h1>

        </div>
        <form action="/search" method="GET">

            <div class="flex lg:w-2/3 w-full sm:flex-row flex-col mx-auto px-8 sm:px-0">
                <input
                        class="flex-grow w-full bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-green-500 text-base px-4 py-2 mr-4 mb-4 sm:mb-0"
                        placeholder="Cities" type="text" name="city" id="citytextbox">
                <button
                        class="text-white bg-green-500 border-0 py-2 px-8 focus:outline-none hover:bg-green-600 rounded text-lg">Search</button>

            </div>
        </form>

    </div>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
<script>
    var cities=['Daltonganj','Ranchi','Jamshedpur','Giridih','Mandu','Dhanbad','Deoghar','Hazaribag','Dumka','Chas',
    'Simdega','Sindri','Madhupur','Bokaro','Barhi','Chaibasa','Garhwa','Latehar','Muri','Panki'];
    $('#citytextbox').autocomplete({source:cities},{autofocus:true,delay:200,minLength:2});
</script>
</section>
{%endblock%}
